body {
  color: #000;
  font-family: 'Lato', sans-serif; } 

a {
  color: #BF1E2C;
  text-decoration: none; }
  a:hover {
    color: #BF1E2C;
    text-decoration: underline; }

h1, h2, h3, h4 {
  color: #BF1E2C;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.component-spacing {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

body {
  background-color: #fff; }

.header--overlay {
  background-color: #fff;
  position: absolute;
  width: 100%; }

.header__search-bar {
  background-color: #000;
  color: #fff;
  min-height: 30px; }

.header__logo {
  padding: 5px 0; }

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .header__nav ul {
    list-style-type: none;
    margin: 0; }
    .header__nav ul li {
      display: inline-block;
      padding: 10px 15px; }

.home-banner {
  background-color: #000;
  background-image: url("../images/dalyell-mini.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 400px; }
  .home-banner__down-btn {
    bottom: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    z-index: 9999; }

.gallery-grid__item {
  font-size: .9rem;
  font-weight: 200;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase; }
  .gallery-grid__item img {
    max-width: 100%; }

footer {
  background-color: #F1F1F1;
  color: #585e71;
  font-size: .7rem;
  padding: 1.2rem 0; }
