.gallery-grid {
	&__item {
		//background-color: $background;
		font-size: .9rem;
		font-weight: 200;
		padding: 1rem;
		text-align: center;
		text-transform: uppercase;

		img {
			max-width: 100%;
		}
	}
}