.header {

	&--overlay {
		background-color: $primary-light;
		position: absolute;
		width: 100%;
	}

	&__search-bar {
		background-color: $primary-dark;
		color: $primary-light;
		min-height: 30px;
	}

	&__logo {
		padding: 5px 0;
	}

	&__nav {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	  font-family: 'Open Sans', sans-serif;
		font-size: .8rem;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;

		ul {
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;
				padding: 10px 15px;
			}
		}
	}
}