
body {
	color: $primary-dark;
	font-family: 'Lato', sans-serif;
}

a {
	color: $highlight;
	text-decoration: none;

	&:hover {
		color: $highlight;
		text-decoration: underline;
	}
}

h1, h2, h3, h4 {
	color: $highlight;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
